/*-----------------------------------------------------------------------------*/
/*------------    ESTILOS AÑADIDOS PARA STRADIVARIUS BACKOFFICE    ------------*/
/*----------------Author: Blackwood  ------------------------------------------*/

/* ---- ESTILOS GENERALES ---- */

#container {
	height:auto !important;
	min-height:100%;
}
#login_screen {
	width:470px;
	height:220px;
	margin:100px auto 0px; 
	background-color:#5A5A5A;
	border:1px solid black;
	box-shadow:0 5px 5px 2px #777777;
	position:relative;
}
#header {
	min-width: 1010px;
	width: 100%; 
	height: 103px; 
	background-color: #000; 
}

#header img {
	position: absolute; 
	top: 0; 
	left: 50%; 
	margin-left: -151px; 
}

#footer {
	width: 100%;
	min-width: 1010px;
	height: 30px;
	background-color: #000;
	margin-top:15px;
}

#center_foot {
	width:1010px;
	margin-left: auto; 
	margin-right: auto; 
	color:#E9E9E9;
	font-size:0.6em;
}

#logout {
	float:right;
	margin:5px 33px 10px 10px;
}

#content {
	/*width: 1010px; descomentar para ajuste de página */
	margin-left: auto; 
	margin-right: auto; 
	padding-bottom: 30px; 
	padding-top: 30px; 
}

#info-displayer {
	min-width:710px;
	/*overflow:hidden;*/
	margin-right:15px;
	margin-left:285px;
	min-height:595px;
}

#leftside-menu {
	border:1px solid black;
	background-color:#5a5a5a;
	width:245px;
	overflow:auto;
	float:left;
	margin-left:15px;
	min-height:640px;
}

#menu-left-title {
	background-color:black;
	color:#FF0000;
	text-align:center;
	font-size:1em;
	font-weight:bold;
}

.menu-left-item {
	font-size:1em;
	/*top right bottom left*/
	padding:5px 0px 5px 5px;
	color:#e9e9e9;
	width:240px;
	/*cursor:pointer;*/
}

.selected {
	font-weight:bold;
	background-color:#A1A1A1;
	color:#ff0000;
}

.selected  a{
	color:#ff0000;
}

#msgbox {
	background-color:#919191;
	position:relative;
	top:75px;
	left:175px;
	max-width:400px;
	padding:10px 10px 10px 10px;
}

.clear {
    clear: both !important;
    display: block !important;
    margin: 0;
    padding: 0;
}

/* ---- ESTILOS DE MUESTRA DE DATOS ---- */

#dataType-ref {
	font-size:0.8em;
	font-style:italic;
	font-weight:normal;
	color:#919191;
}

#search-parameters {
	width:710px;
}

#data-operations {
	width:710px;
}

#search-result {
	background-color:#bcbcbc;
	margin-top:20px;
	/*overflow:auto; descomentar para ajuste de página*/
}

.display-table {
	border:1px solid #8d8d8d;
	background-color:#bcbcbc;
	font-size:0.7em;
}

.display-table .pairRow{
	background-color:#A1A1A1;
}

.display-table td{
	border:0px;
	padding-right:10px;
	vertical-align:middle;
	border-bottom:1px solid #919191;
	border-left:1px solid #919191;
}

.tittle-row {
	background-color:#4D4D4D;
	border:1px solid #4D4D4D;
	font-weight:bold;
}

.tittle-row td {
	border:0px;
	padding-right:10px;
}

#data-export {
	margin-top:-29px;
	float:right;
	margin-right:6px;
}

#data-pagination {
	float:left;
	margin-top:10px;
}

.search-appearance {
	border: 1px solid #777;
	background: no-repeat #bcbcbc;
	width:300px;
	height:18px;
}

#selectContainer {
	border: 1px solid #777;
	overflow: hidden;
	background: url(../../style/img/select-arrow.jpg) no-repeat 263px -1px #bcbcbc;
	width: 283px;
	height:20px;
	margin-top:1px;
	/*Fuente: Como dar estilo a un select con css - 
	Bloogie http://www.bloogie.es/tecnologia/programacion/74-como-dar-estilo-a-un-select-con-css#ixzz2NtNYmKXu*/
}

#searchReference {
	margin-top:1px;
}

#searchSelect {
	background-color: transparent;
	border: 0 none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*background: URL(../../style/img/select-arrow.jpg) no-repeat 260px -1px #bcbcbc;*/
}

#textViewer_box {
	position:absolute;
	background-color:#A1A1A1;
	border:1px solid black;
	min-width:200px;
	max-width:500px;
	padding:10px;
	display:none;
	
}
.textViewer {
	cursor:pointer;
}